@import 'common.scss';

.Animation-2d { margin-bottom: 40px;
    background-color: $bg-dark; color: $clr-white; padding-top: 100px; text-align: center;
    @include media-max(md) {@include paddingX40(); margin: 0 auto;}
    .description { width: 40%;
        @include media-max(md) { width: 100%;}
    }
    .description-video{ display: flex; gap: 40px; align-items: center;
      @include media-max(md) { display: block;}
      .counters{
        display: flex; gap: 40px; justify-content: left; margin-bottom: 50px; color: $clr-white; font-size: px-to-rem(40); font-weight: 600; line-height: 1.2;
        @include media-max(md) {  font-size: px-to-rem(20); margin-bottom: 20px;justify-content: center;}
        .text{ font-size: px-to-rem(28); 
          @include media-max(md) {  font-size: px-to-rem(18); }
        }
      }
      
      .schedule-btn{ margin-top: 40px;
        background-color: $primary; transition: 0.3s; color: $clr-white; padding: 20px 30px; font-size: px-to-rem(20); font-weight: 600; border-radius: 10px;  
        &:hover{
          color: $primary; transition: 0.3s; background-color: $clr-white;
        }
      }
      iframe{ border-radius: 10px; 
        @include media-max(md) { margin: 20px auto;}
      }
  
    }
    .data{ @include paddingX40();}
  }

  .home-section {
    .bootm {
        .btn { background-color: $primary; transition: 0.3s; color: $clr-black; padding: 20px 30px; font-size: px-to-rem(20); font-weight: 600; border-radius: 10px;  
            &:hover{
              color: $primary; transition: 0.3s; background-color: $clr-white;
            }
        }
    }
  }