@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Barlow";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.container{
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}


.swiper-btns {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  font-size: 25px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #efefef;
  border-radius: 50%;
  left: 20px;
  color: #efefef;
  transition: 0.3s;
}

.swiper-btns:hover{
  border-color: #ff971c;
  color: #ff971c;
}

.swiper-btns.swiper-button-disabled{
  opacity: 0.5;
}

.swiper-button-next.swiper-btns {
  right: 20px;
  left: auto;
}


.border-radius-15{
  border-radius: 15px;
}